<div class="container mt-4">
  <h2 class="mb-4">Banking Dashboard</h2>

  <div class="row g-4">
    <div class="col-md-3">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h5>Customers</h5>
          <a routerLink="/customer" class="btn btn-primary w-100">Create</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h5>Accounts</h5>
          <a routerLink="/account" class="btn btn-success w-100">Create</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h5>Transactions</h5>
          <a routerLink="/transaction" class="btn btn-warning w-100">Debit / Credit</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h5>Statements</h5>
          <a routerLink="/transactions" class="btn btn-dark w-100">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
