.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}
