# Backend (Spring Boot / Maven)
target/
bin/
.mvn/wrapper/maven-wrapper.jar

# Frontend (Angular / Node)
node_modules/
dist/
.angular/

# IDEs
.idea/
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Eclipse workspace
.metadata/
