<div class="container mt-4">
  <h3 class="mb-4 text-center">Deposit / Withdraw</h3>

  <div class="card shadow-sm p-4">
    <form [formGroup]="transactionForm" (ngSubmit)="submit()">

      <div class="mb-3">
        <label class="form-label">Account Number</label>
        <input type="text" class="form-control"
               formControlName="accountNumber">
      </div>

      <div class="mb-3">
        <label class="form-label">Transaction Type</label>
        <select class="form-select" formControlName="transactionType">
          <option value="CREDIT">Deposit</option>
          <option value="DEBIT">Withdraw</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Amount</label>
        <input type="number" class="form-control"
               formControlName="amount">
      </div>

      <button class="btn btn-primary w-100" type="submit">
        Submit Transaction
      </button>

    </form>

    <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
</div>
